<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii Art Web</title>
</head>

<body>
    <h1>Welcome To our Ascii Art Project</h1>
    <form method="post" action="/printascii">
        <textarea name="text"></textarea>
        <select name="banners">
            <option value="standard.txt">standard</option>
            <option value="shadow.txt">shadow</option>
            <option value="thinkertoy.txt"> thinkertoy</option>
        </select>
    <button type="submit"> Generate</button>
    </form>
</body>

</html>